@keyframes jump {
    0% {
        transform: translate(0, -45px);
    }

    50% {
        transform: translate(0, -125px) scale(130%) rotate(-5deg);
        filter: drop-shadow(3px 25px 10px rgba(5, 51, 3, 0.3));
    }

    100% {
        transform: translate(0, -45px);
    }
}

* {
    padding: 0;
    margin: 0rem;
    transition: 200ms;
    animation-duration: 600ms;
}

img {
    width: 100px;
    height: 100px;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    display: grid;
    place-items: center;
}

#pond {
    width: 30vw;
    height: 30vh;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#lillypad {
    transform: translate(0px, 100px) rotate(30deg) skew(-45deg, 0deg);
}

#froggy {
    transform: translate(0, -45px);
}

#froggy:hover {
    animation-name: jump;
}
